<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Início</title>
  <link rel="stylesheet" href="../public/stylesheets/style.css">
</head>
<body>
  <h1>Bem-vindo á página do cliente!</h1>

  <form action="/clientes" method="POST">
   
    <label for="email">Email:</label></br>
    <input type="email" id="email" name="email" required>
    <br></br>

     <label for="senha">senha:</label> </br>
    <input type="password" id="senha" name="senha" required>
    <br></br>

    <button type="submit">Enviar</button>
  </form>

  <h1>Conheça alguns de nossos produtos!!</h1>
  <p><a href="/produtos">Ver nossos proutos</a></p>
</body>
</html>